{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>

<html>
    
    <head>
        <title>Our Marketing Services - HODLOK</title>
        <meta name="keywords" content="marketing, service, social media, seo">
        <meta name="description" content="We offer quality marketing services that will expand your business to new heights.">
        <meta name="google-adsense-account" content="ca-pub-8695224063456990">
    </head>

    <body>
        <section>
            <!--Marketing Services-->
            <h1>Our Marketing Services</h1>
            <div class="container">
                <div class="row">
                    {% for marketing_service in marketing_services %}
                    <div class="col-md-4 mb-5">
                        <div class="card bg-dark bg-gradient h-100">
                            <img class="card-img-top" src="{{ marketing_service.image.url }}" style="width: 100%" alt="{{ marketing_service.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ marketing_service.title }}</h5>
                                <p class="card-text">{{ marketing_service.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr class="line">
        <!--Persuade Section-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="text-center my-3">
                        <h2>Want to improve and generate more leads from your existing marketing presence?</h2>
                        <div class="consultation">
                            <a href="{% url 'contacts' %}"><button type="button" class="btn btn2" id="buttonId">Schedule your free consultation here</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>


{% endblock %}