{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>

<html>

  <head>
    <title>Services We Offer - HODLOK</title>
    <meta name="keywords" content="marketing, services, digital">
    <meta name="description" content="We build more than just our services, we build life-long relationships with your business and your clients. Check out our digital and marketing services.">
  </head>

  <body>
    <!--Header-->
    <header class="services-header">
      <h1>Services We Offer</h1>
      <p>We build more than just our services, we build life-long relationships with your business and your clients.</p><br>
      <p>Check out below the digital and marketing services we offer.</p>
    </header>
    <!--Services-->
    <section class="py-5">
      <div class="container px-5 mt-3 mb-3">
        <div class="row gx-5 justify-content-center">
          {% for s in services %}
          <div class="col-md-6 mb-5">
            <div class="card bg-dark bg-gradient h-100">
              <img class="card-img-top" src="{{ s.image.url }}" style="width: 100%" alt="Image of a {{ s.title }} service">
              <div class="card-body">
                <h5 class="card-title">{{ s.title }}</h5>
                <p class="card-text">{{ s.description }}</p>
                <ul>
                  <li>{{ s.activity }}</li>
                  <li>{{ s.other_activity }}</li>
                </ul>
                <div class="text-center">
                  <a href="{{ s.link }}"><button type="button" class="btn btn2" id="buttonId">Learn More</button></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>  
    </section>
    <hr class="line">
    <!--Persuade Section-->
    <section>
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="text-center mt-3">
            <h2>Are these the services you need to transform your business?</h2>
            <div class="consultation">
              <a href="{% url 'contacts' %}"><button type="button" class="btn btn2" id="buttonId">Schedule your free consultation here</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>


{% endblock %}