{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!DOCTYPE html>

<html>

  <head>
    <title>Contact Us - HODLOK</title>
    <meta name="keywords" content="contact, hodlok, contacts, quote">
    <meta name="description" content="Contact us to explore our wide range of digital services!">
    <meta name="google-adsense-account" content="ca-pub-8695224063456990">
  </head>

  <body>
    <h1>Contact Us</h1>
    <div id="contact">
      <div class="container">
        <div class="row">
          <!--Quote section-->
          <div class="text-center my-5">
            <h2>We can give you a quote within 30 minutes!</h2>
            <h2>Schedule a time now</h2>
            <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/hodlok/hodlok-meeting" style="width:100%;height:700px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end -->
          </div>
        </div>
      </div>
    </div>
  </body>
  
</html>

<script>
  var form = document.getElementById('contact-form');
  form.addEventListener("submit", e => {
  e.preventDefault();
  fetch(form.action, {
    method : "POST",
    body: new FormData(document.getElementById("contact-form")),
  }).then(
    response => response.json()
  ).then((html) => {
  // you can put any JS code here
  window.location.href = "{% url 'thankyou' %}";

  });
});
</script>
{% endblock %}