{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>
<html>

  <head>
    <title>Thank You - HODLOK</title>
    <meta name="keywords" content="thank you, hodlok, thankyou">
    <meta name="description" content="Thank you for reaching out to us! We'll aim to reply back within 72 hours!">
    <meta name="google-adsense-account" content="ca-pub-8695224063456990">
  </head>

  <body>
    <h1>Thank you for reaching out to us!</h1>
    <p>We'll aim to reply back within 72 hours.</p>
  </body>

  </html>

{% endblock %}